<!DOCTYPE html>
<html>
  <head>
    <title>Rottenpotatoes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">
    <%- if flash[:notice] %>
      <div class="alert alert-info text-center"><%=flash[:notice]%></div>
    <%- elsif flash[:alert] %>
      <div class="alert alert-danger text-center"><%=flash[:alert]%></div>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
